RemoteSystemsTempFiles

/**/META-INF

*.class
*~
*.diff
*.patch
*.swp
*.out
*.log
*.pdb
.~*
~$*

# Project artifacts
.classpath
.project
.settings
.gradle

# Folders #
build/
bin/
private_doc/
tmp/
target/
generated/

